---
name: release
on:
  push:
    tags:
      - "v*"

permissions:
  attestations: write
  contents: write
  id-token: write

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - if: startsWith(github.ref, 'refs/tags')
        uses: ./.github/actions/run-goreleaser
        with:
          args: release --clean

      - name: generate build provenance (binaries)
        uses: actions/attest-build-provenance@977bb373ede98d70efdf65b84cb5f73e068dcc2a #v3.0.0
        with:
          subject-path: "${{ github.workspace }}/dist/*.*"

      - uses: actions/upload-artifact@v5
        if: success() || failure()
        with:
          name: ghn-artifacts
          path: dist/*.*
          retention-days: 5